<h3 >Contact Info</h3>
<div id="contact">
    <p><span class="header">Name: </span>
    <span>{{name}}</span></p>
    <p><span class="header">Address: </span>
    <span>{{address}}</span></p>
    <p><span class="header">City, State, Zip: </span>
    <span>{{cityState}}</span></p>
    <p><span class="header">Phone: </span>
    <span>{{phone}}</span></p>
    <p><span class="header">Email: </span>
    <span>{{email}}</span></p>
</div>

<h3 >Technologies</h3>
<table class="table table-sm">
    <tr><td>Java</td><td>MySQL</td><td>Git</td><td>Spring Framework</td></tr>
    <tr><td>C#</td><td>JPA</td><td>XML</td><td>Hibernate</td></tr>
    <tr><td>JUnit</td><td>JDBC</td><td>HTML</td><td>CSS</td></tr>
    <tr><td>Javascript</td><td>jQuery</td><td>Bootstrap</td><td>Angular</td></tr>
</table>

<h3 >Career Goals</h3>
<div><p>Jonathan hopes to complete his training at the MAX Technical Training Java Bootcamp and begin a career in coding.</p>
<p>He enjoys coding immensely and hopes to do secure a long career doing it while also coding on the side for personal projects.</p>
<p>Jonathan hopes to become a name in the Cincinnati coding scene.</p></div>

<app-education *ngIf="displayEducation"></app-education>
<app-work-experience></app-work-experience>
<div>
    <h3>Favorite Colors</h3>
<p *ngFor="let color of favColors">{{color}}</p>
</div>