<h3 >Employment</h3>
<p>{{workExperience}}</p>
<div>
    <p class="header">La Salle High School</p>
    <p>Assistant Director of Bands</p>
    <p>Jan. 2017 - Present</p>
    <p>Assistant Program Director for 9th-12th grade at La Salle High School, and associated 5th-8th grade programs. Instructed Concert Band, Marching Band, Percussion, and Computer Literacy classes. Raised performance and educational standards for the program by increasing performance opportunities and achieved “Best in Class” awards at numerous competitions in a tri-state region, including first place colorguard in circuit championships.</p>
</div>
<div>
    <p class="header">St. Ignatius Loyola School</p>
    <p>Director of Percussion</p>
    <p>Aug. 2017 - June 2020</p>
    <p>Head of instruction for 4th-8th grade percussion students at Saint Ignatius School. Provided specialized instruction for individuals and counseled on future opportunities, preparing students to move forward in their musical careers.</p>
</div>
<div>
    <p class="header">Holy Family School</p>
    <p>Music Teacher</p>
    <p>Aug. 2018 - June 2019</p>
    <p>Program Director for Preschool-8th grade at Holy Family School. Designed curriculum for students of levels spanning ten years of age. Maintained policies governing student behavior across varied developmental levels. Planned, organized, and managed community performances.</p>
</div>